h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li { }
a {
  color: #42b983;
}
span.el-tag {
    margin-right:1em;
}
.color-group {
	display: grid;
	grid-template-columns:repeat(5,minmax(auto,80px));
	justify-content: center;
	grid-gap: 2px;
}
.mycolor{
 /*   width:44px; */
 /*   border: 1px solid #ddd;*/
    object-fit: cover;
}
.mycolor-active{
	border: 1px solid red;
    opacity:0.8;
    object-fit: cover;
}
.size-group{
    display:grid;
    justify-content: center;
}
.mysize{
    height: 2em;
    padding:0 1em;
    line-height: 2em;
    vertical-align: middle;
    margin-right: 1em;
    border-radius: 2%;
}
.mysize-li {
	display: grid;
	grid-template-columns: minmax(auto,50%) auto;
}
.mycolor-radio{ display:none; width:0; height:0; }

.mysize-active{ border: 1px solid red; }
.price-table{
/*   width: 100%;*/ 
    align-content: center;
    align-items: center;
    justify-content: center;
    display: grid;    
}
.price-table table{
    width:auto !important;
}
.el-row img{
    max-width:100%; 
}
.text li{
    margin:1em 0;
}
.el-table td, .el-table th.is-leaf {
	border-bottom: 1px dashed #ddd;
}

.User_notes{
    text-align: left;
    font-size:0.8rem;
}

.nav-footer {
	/* background-color: #ddd; */
	color: #4d4d4d;
	height: 50px;
	width: 100%;
	padding: 2rem 1rem 0;
	font-size: 0.8rem;
}

.nav-footer .el-card{
    border: none;
}
.nav-footer .el-card li{
    margin-bottom:1rem;
}















.v-image__image--cover{
    object-fit:cover;
    background-size:auto;
}

.product-detail-container img{ max-width:100%; }

.color0{
	margin-right: 3px;
	border: solid 1px #ddd;
    display:flex;
    flex-flow: column;
}
.active-color{
   border: solid 1px red;
}

.size0 {
	display: inline-flex;
	margin-right: 3px;
	border: solid 1px #ddd;
	padding: 0 3px;
}

.active-size{
   border: solid 1px red;
}
.pack-qty{
    margin:1rem 0;
    text-align:left;
}
.pack-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    max-width: 100%;
    width:100%;
    grid-auto-flow: column;    
}

.color-container{
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(5,auto);
}

.size-container{
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(10,auto);
}

.list-text:not(:last-child)::after {
	content: "|";
	margin: 0 0.5rem;
}
.grid-img{
   display:grid;
   grid-column-gap: 1rem;
   grid-auto-flow: column;   
}


.color-list > div ,.size-list > div{
       height:auto!important;
}

.list-text-container,.support-text-container{ 
   flex-flow: wrap !important
}
.qty-container{
    height:7rem !important;
    align-items:center !important;
}
.size-title,.color-title,.support-title{
	min-width: 2rem;
}
@media (max-width: 1000px) {
    .pack-container{
        grid-template-columns: auto;
        grid-auto-flow: row;    
    }
    .color-container{ grid-template-columns: repeat(3,auto); }
    .size-container{ grid-template-columns: repeat(5,auto); }
    .grid-img {
        grid-auto-flow: row;
        grid-template-columns: repeat(4,auto);
        grid-gap:2px;
    }
}


